:root{
    --danger-color : #e74c3c;
    --card-backgorund : #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #f7f9fc;
    color: #2c3e50;
    line-height: 1.6;   
}

